/******************************************************************/

// Import Component

/******************************************************************/

@import './components/normalize';
@import './components/mixin';
@import './components/font';
@import './components/variables';
@import './fontawesome/font-awesome';

/******************************************************************/

// General

/******************************************************************/

html,body{height:100%;}
body {
	border-left: rem(7) solid $lyellow;
    border-right: rem(7) solid $lyellow;
    position: relative;
    //z-index:999;
    font-family:$irsans;font-weight:200;
    overflow-x:hidden;
	&:after,&:before{
		content: "";
	    position: fixed;
	    background: $lyellow;
	    left: 0;
	    right: 0;
	    height: rem(7);
	    z-index:999
	}
	&:after {
    	bottom: 0;
	}
	&:before {
    	top: 0;
	}
	@include res(em(800)){
    border-right-width:rem(4);
    border-left-width: rem(4);
    &:after,&:before{height:rem(4);}
  }
}

.wrapper{width:100%;padding:rem(120) rem(10) rem(100);background:#fafafa;
    position: relative;
	  top: 100%;
    z-index: 0;
  &--header{
    background:$lblack;position: absolute;top:rem(50);right:0;padding:rem(10) rem(10) rem(10) rem(20);
    color:$lyellow;
    i,span{display: inline-block;vertical-align: middle;}
    i{width:rem(30);height:rem(30);border-radius:50%;background:$lyellow;font-size:1.1rem; color:$lblack;text-align: center;
      line-height: rem(30);
    }
    span{font-size:1rem;font-weight: 400;margin-right:rem(3);}
  }
	&__gray{background:#f3f2ef;}
}

.inner{
	width:100%;
  max-width:rem(1150);
	margin:auto;
  padding:rem(16);
  font-size:0;
  *{font-size:1rem;}
}
/* .navigation{position: fixed;top:50%;right:rem(35);transform:translateY(-60%);z-index:9999;
  a{margin-bottom:rem(10);
    &:hover{margin:20px 0;}
     &:last-child{margin-bottom:0} 
  }
}
.dot--navigation{display: block;width:rem(12);height:rem(12);position: relative;border-radius:50%;  
  color:$lyellow;text-align: center;background:$lblack;opacity:.2;
  transition:opacity .2s,transform .4s,margin .4s;
  i{font-size:.7rem;display: block;position: relative;bottom:rem(-1);left:rem(.31);transform:scale(0);transition:transform .4s;}
  &:hover{opacity:1;transform:scale(3.1); //margin:rem(20) 0;
      i{transform:scale(.5);}
      span{visibility:visible; opacity:1;}
  }
  &__title{position: absolute;top:0;right:rem(15);background:$lblack;font-size:.2rem;font-weight:200;
    min-width:rem(50);height:100%;padding:5%;border-radius:rem(100); visibility:hidden;opacity:0;transition:opacity .6s,visibility .4s;
    &:before{position: absolute;content:'';top:rem(3);right:rem(-2); 
    border-top:rem(3) solid transparent;border-bottom:rem(3) solid transparent;border-left:rem(3) solid $lblack;}
  }
  &__active{opacity:1;}
} */

/******************************************************************/

// Header

/******************************************************************/

.header{background:$lyellow;
    position: fixed;top: 0px;right: 0px;bottom:0px;left: 0px;
    min-height: 100%;
    padding:rem(10);
    color: #fff;
    direction: rtl;
    //z-index: -1;
    text-align: center;
}
.overlay{width:90%;overflow: hidden; position: absolute;top:50%;left:50%;transform: translate(-50%,-50%);/* background:red; */
    h1{font-size:1.5rem;color:$lblack;display: block;margin-top:rem(20);word-spacing:rem(-3);letter-spacing: rem(-0.3);
      font-weight:300;
        text-shadow:rem(1) rem(1) rem(1) rgba($lblack, .14);
        @include res(em(500)){font-size:5vw;}
    }
}
.logo{/* background:#ccc; */margin:auto; width:rem(320);height:rem(320);opacity:.9;
  border:rem(7) solid $lblack;padding:rem(22) 0;overflow:hidden;position: relative;
	span{display:block;/* line-height:1; */
    color:$lblack;
		&[rule="name"]{font-weight:500;font-size:4.76666rem;}
		&[rule="type"]{position: absolute;bottom:rem(15);right:rem(15);
      font-family:$mserrat;font-size:7.76666rem;direction:ltr;padding:rem(5);
       text-align: right;margin-top:rem(10);
    }
	}
  @include res(em(380)){width:100%;

  }
}

/******************************************************************/

// Intro

/******************************************************************/

.intro{
    *[class^='intro--']{/* background:red; */display: inline-block;padding:1rem;vertical-align: middle;
      @include res(em(750)){display: block;direction:rtl;width:97%;margin:auto;}
    }
    &--text{width:70%;
      h3{font-size:2.2222rem;font-weight: 500;color:$lblack;margin-bottom:rem(10); 
          i{color:darken($lyellow, 15%);font-size:1.2rem;}
       }
       p{font-size:1.05rem;line-height:200%;color:#484848;font-weight:200;text-shadow:rem(1) rem(1) rem(1) rgba(#484848,.10);}
    }
    &--poster{width:30%; 
      @include res(em(750)){display: none !important;}
    }
}

/******************************************************************/

// Event

/******************************************************************/

.event{
  p{max-width:75%;margin:auto;font-size:1.05rem;line-height:200%;color:#484848;
    font-weight:200;text-shadow:rem(1) rem(1) rem(1) rgba(#484848,.10);text-align: center;
  }
}

.event{
  &--list{display: block;width:90%;max-width:rem(600); margin:rem(30) auto 0;
    @include res(em(620)){margin-top:rem(80);}
  }
  &--body{background:$lblack;width:100%;font-size:0;display: block;margin-bottom:rem(15);
    &:last-child{margin-bottom:0;}
    >div{display: inline-block;vertical-align: top;font-size:1rem;
      @include res(em(620)){display: block;margin:auto;text-align: center;}
    }
    &__date{
      background:$lyellow;width:rem(120);height:100%; color:$lblack;text-align: center;padding:rem(10);line-height:100%;
      i{display: block;font-size:3rem;font-weight:500;margin-bottom:rem(-20);}
      span{font-size:1rem;font-weight:100;}
      @include res(em(620)){width:rem(100);height:rem(100);border-radius:100%;position: relative;top:rem(-50);
          i{font-size:2.2rem;}
      }
    }
    &__title{width:calc(100% - 120px);
      padding:rem(11) rem(15);
      h4{font-size:1rem;font-weight:200;font-weight:300;color:$lyellow;}
      ul{margin-top:rem(15);
        li{display: inline-block; margin-left:rem(10); &:last-child{margin-left:0;} }
        i{color:$lyellow;font-size:1rem;margin-left:rem(5);position: relative;top:rem(2);}
        span{color:#fafafa;font-size:.8rem;}
      }
      @include res(em(620)){width:100%;margin:rem(-50) auto 0 !important;padding:rem(15) rem(15) rem(25);}
    }
    @include res(em(620)){margin-bottom: rem(75);}
  }
}

/******************************************************************/

// Blog

/******************************************************************/

#blog{padding:rem(100) rem(10) rem(70);}
.post{
  &--list{margin-top:rem(20);font-size:0;@include clearfix;
    >div{display: inline-block;font-size:1rem;width:33.333333%;padding:0 1rem;vertical-align: top;
      @include res(em(850)){width:50%; &:last-of-type{display: none;} }
      @include res(em(850)){width:100%;margin-bottom:rem(20); &:last-of-type{display: block;margin-bottom:0;} }
    }
  }
  &--body{/* background:red; */
    &__img{position: relative;display: block;}
    &__date{position: absolute;top:0;left:rem(20);padding:rem(9) rem(10);background:$lblack;
      color:$lyellow;text-align: center;border-bottom:rem(3) solid $lyellow;
      *{display: block;}
      i{font-size:1.4rem;font-weight:500;margin-bottom:rem(-10);}
      span{font-size:.8rem;font-weight:100;}
    }
    &__content{background: #f9f9f9;padding:rem(15);@include clearfix;
      border-width:0 rem(1) rem(1);border-style:solid;border-color:#efefef;
      a{font-size:1.2rem;font-weight:400;color:$lblack;display: block;margin-bottom:rem(5);}
      p{font-size:.95rem;color:#484848;line-height:200%;text-shadow:rem(1) rem(1) rem(1) rgba($lblack, .08);}
      span[role="author"]{color:$lblack;font-size:.9rem;font-weight:500;display: inline-block;
        margin-top:rem(15);cursor: pointer; opacity:.2;transition:.5s opacity;
        i{font-size:1rem;position: relative;top:rem(1);margin-left:rem(3);}
        &:hover{opacity:1;}
      }
      a[role="read-more"]{background:$lyellow;width:rem(35);height:rem(35);text-align: center;border-radius:rem(3);display: inline-block;
        float: left;margin:rem(5) 0 0 rem(5);
        i{font-size:1.4rem;color:$lblack;line-height:rem(33);}
      }
    }
  }
}
.gotoblog{float: left;font-size:1rem;padding:1rem;margin-top:rem(10);color:lighten($lblack, 40%);}

/******************************************************************/

// Team

/******************************************************************/

#teams{background:$lblack;padding:rem(50) 0 0;}
.teams{
  i.sep{display: block;height:rem(1);background:lighten($lblack, 5%);}
  &__header{
    display: block;text-align: center;
    span{font-size:1.3rem;font-weight:400;color:$lyellow;display: block;margin-bottom:rem(5);}
    p{font-size:.92rem;color:#fff;font-weight:100;}
  }

  &--list{display: block;margin:rem(40) auto 0;font-size:0;width:80%;max-width:rem(1000);text-align: center;
    li{font-size:1rem;/* background:red; */display: inline-block;padding:1rem 2rem;vertical-align: top;}
  }
}
.person{text-align: center;
  img{width:rem(140);height:auto;border-radius:50%;margin:auto;
    filter: grayscale(95%);transition:filter .5s;
  }
  h4{font-size:1.08rem;font-weight:300;color:#fff;display: block;margin-top:rem(8);}
  span{font-size:.8rem;font-weight:100;color:$lyellow;position: relative;bottom:rem(10);opacity:0;
    transition:bottom .4s,opacity .3s;
  }
  &:hover{
    img{filter:grayscale(0);}
    span{bottom:0;opacity:1;}
  }
}
.sponsor{
  &--list{margin:rem(40) auto 0;max-width:rem(900); text-align: center;direction:ltr;
      li{display: inline-block;margin:0 rem(15) rem(9);vertical-align: top;  }
  }

  &--body{display: inline-block;text-align: center;
    img{width:rem(85);height:rem(85);border-radius:50%;display: block;margin:auto;filter:grayscale(96%);
      transition:filter .4s;
    }
    span{font-size:.9rem;display: block;margin-top:rem(6);color:$lyellow;position:relative;top:rem(-12);
      opacity:0;transition:top .4s,opacity .3s;
    }
    &:hover{
      img{filter:grayscale(0);}
      span{top:0;opacity:1;}
    }
  }
}

.team--sep{position: relative;top: 100%;fill:$lblack;pointer-events: none;display: block;height: 6em;
  background:$lyellow;
}

/******************************************************************/

// Footer

/******************************************************************/

.footer{padding:rem(27) 0 rem(17);background:$lyellow;text-align: center;
  .copy--right{font-size:.95rem;color:$lblack;font-weight:300;display: block;padding:0 rem(10);}
}
.socialn{direction:ltr;margin:rem(15) 0 rem(5);
  li{display: inline-block;margin-right:rem(10);}
  i{font-size:1.1rem;color:$lblack;}
}
.hamed{font-size:.95rem;color:darken($lyellow, 25%);display: inline-block;
  transition:color .4s;
  &:hover{color:$lblack;}
}