@charset "utf-8";
*{
   margin: 0;
  padding: 0;
    box-sizing: border-box;
    line-height:normal;
    font-style: normal;
    direction:rtl;
    &:active, &:focus{
      outline: none;
    }
}
abbr, address, article, aside, audio, b, blockquote, body, canvas, caption, cite, code, dd, del, details, dfn, div, dl, dt, em, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, p, pre, q, samp, section, small, span, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, ul, var, video {
  margin: 0;
  padding: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: 0 0;
}

ul {list-style: none;}
img{max-width:100%;display: block;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}




a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: 0 0;
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}



